body{
    margin: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #484848;
}

.logo{
    display: block;
    position: absolute;
    left: 65%;
    width: 15%;
    top: 1%;
}

.me{
    display: block;
    position: relative;
    width: 30%;
    padding-top: 30%;
    top: 8%;
    left: 35%;

    background: url(./Images/ioquandohtml.jpg) 50% 50% no-repeat;
    background-size: 200%;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(182, 181, 178);
    border-radius: 50%;
}

.banner{
    position: absolute;
    display: block;
    height: 100%;
    width: 30%;
    left: 5%;
    background-color: rgb(245, 245, 245);
}

.content{
    position: absolute;
    display: block;
    height: 90%;
    width: 45%;
    left: 40%;
    top: 8%;
    text-align: left;
}

.nome{
    display: block;
    position: relative;
    top: 10%;
    font-weight: bolder;
    font-size:larger;
}

.bold{
    font-weight: bolder;
}

.nazionalita{
    display: block;
    position: relative;
    top: 13%;
    font-size: smaller;
}

.contatti{
    display: block;
    position: relative;
    top: 18%;
}

.contatti{
    text-align: left;
    left: 10%;
}

.posizione{
    background: url(./Images/pos.svg) 0% 50% no-repeat;
    background-size: 1em;
}
.email{
    background: url(./Images/mail.svg) 0% 50% no-repeat;
    background-size: 1em;
}
.numero{
    background: url(./Images/phone.svg) 0% 50% no-repeat;
    background-size: 1em;
}

.testo_contatti{
    text-indent: 8%;
    font-size: .9em;
}

.preline{
    white-space: pre-line;
}

.nowrap{
    white-space: nowrap;
}

.pre{
    white-space: pre;
}

.titoletto{
    font-size: larger;
}

.leftbar_container{
    display: block;
    border-left-style: solid;
    border-left-color: #283B83;
    text-align: left;
}

.blue{
    color: #283B83;
}

.dot{
    position: relative;
    display: inline-block;
    width: 1em;
    padding-top: 1em;
    background-color: #283B83;
    border-radius: 50%;
    right: .54rem;
    visibility: hidden;
}

.show{
    visibility: visible;
}

.lightweight{
    color: rgb(234 234 234);
}